<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542163507398-a3pit8l3r1iiduoph5v3a6is2qd55uek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542163507398-a3pit8l3r1iiduoph5v3a6is2qd55uek</string>
	<key>API_KEY</key>
	<string>AIzaSyBUN8yDXrIGXde2vBwEzXNCH4YITy1Z9cY</string>
	<key>GCM_SENDER_ID</key>
	<string>542163507398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mSkoolFlutter</string>
	<key>PROJECT_ID</key>
	<string>mskool-6b32d</string>
	<key>STORAGE_BUCKET</key>
	<string>mskool-6b32d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542163507398:ios:1f4bd4dd906b1d2ff69fc7</string>
</dict>
</plist>